body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.dropzone {
  position: relative;
  width: 600px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  border: 3px dashed #ccc;
  color: #000;
  line-height: 200px;
  text-align: center;
}

.dropzone.dragover {
  border-color:#10ff00;
  color:#000;
}

.Options {
  margin-right: 200px;
  float:right;
}

.checkboxes {
  float: inherit;
}

.btn {
  float: inherit;
}

ul {
  list-style-type: none;
}
